{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ "control.occupationstart.name"|trans({},"actions")|title }}</h2>

	<p>{{ "control.occupationstart.intro"|trans({"%settlement%":link(settlement)},"actions")|raw}}</p>

	{{ form(form) }}

{% endblock %}
