{% extends "layout.html.twig" %}

{% block content %}
<button id="style">Toggle list style</button>
<div id="actionlist" class="boxlist">
{% include "element/linklist.html.twig" with {"list":dispatcher.politicsAssocsActions, "domain":'politics', "who":'self'} %}
</div>

<br class="clear" />
<hr />

<div class="act">
	<h2>{{ 'lists.name'|trans({},"politics")|title }}</h2>
	<div class="act_actions">
		<a href="{{ path("bm2_lists") }}">{{ 'lists.name'|trans({},"politics")|title }}</a>
	</div>
	{{ 'lists.description'|trans({},"politics")|raw }}
</div>

{% endblock %}

{% block jquery %}
var box = true;
$("#style").click(function(){
	box = !box;
	if (box) {
		$("#actionlist").removeClass("linklist").addClass("boxlist");
	} else {
		$("#actionlist").removeClass("boxlist").addClass("linklist");
	}
});
{% endblock %}
