{% extends "MsgBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'unread.title'|trans({}, "MsgBundle")|title }}</h2>

<ul>
{% for meta in unread %}
	<li><a href="{{ path('cmsg_conversation', {'meta':meta.id}) }}">{{ meta.conversation.topic }}</a> ({{ 'summary.new2'|trans({"%new%":meta.unread}, "MsgBundle") }})</li>
{% endfor %}
</ul>

{% endblock %}