{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'journal.write.header'|trans({}, "messages")|raw }}</h2>
	{% if report is defined %}
		<p>{{ 'journal.write.intro2'|trans({'%report%':link(report)}, "messages")|raw }}</p>
	{% else %}
		<p>{{ 'journal.write.intro'|trans({}, "messages")|raw }}</p>
	{% endif %}
	<p><div id="insertbox">
		<input id="realmsearch" placeholder="insert realm" />
		<input id="guildsearch" placeholder="insert association" />
		<input id="housesearch" placeholder="insert house" />
		<input id="placesearch" placeholder="insert place" />
		<input id="settlementsearch" placeholder="insert settlement" />
		<input id="charactersearch" placeholder="insert character" />
	</div></p>
	{{ form(form) }}
{% endblock %}
{% block jquery %}

{% include "element/msgautocomplete.js.twig" %}

function search_insert(insert) {
	var caretPos = document.getElementById("journal_entry").selectionStart;
	var textAreaTxt = $("#journal_entry").val();
	$("#journal_entry").val(textAreaTxt.substring(0, caretPos) + insert + textAreaTxt.substring(caretPos) );

}

{% endblock %}
