<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}{% if 'mightandfealty.com' in app.request.host %}Might &amp; Fealty{% elseif 'iungard' in app.request.host %}Might &amp; Fealty{% elseif 'valengard' in app.request.host %}Valengard Test Server{% else %}M&amp;F Dev Build{% endif %}{% endblock %}</title>
</head>
{% block content %}

{% if local is not defined %}
	{% include "Conversation/one_conversation.html.twig" with {"messages": messages, "conversation": conversation, "last": last, "archive": true} %}
{% else %}
	{% include "Conversation/one_conversation.html.twig" with {"messages": messages, "conversation": conversation, "local": local, "archive": true} %}
{% endif %}

{% endblock %}
