{% extends "Conversation/layout.html.twig" %}

{% form_theme form with 'Form/form_characterlist.html.twig' %}

{% block content %}
<h2>
	{% if realm %}
		{{ 'conversation.new.title2'|trans({"%realm%":link(realm)}, "conversations")|raw }}</h2>
	{% elseif house %}
		{{ 'conversation.new.title2'|trans({"%realm%":link(house)}, "conversations")|raw }}</h2>
	{% elseif assoc %}
		{{ 'conversation.new.title2'|trans({"%realm%":link(assoc)}, "conversations")|raw }}</h2>
	{% else %}
		{{ 'conversation.new.title'|trans({}, "conversations")|title }}</h2>
	{% endif %}

{% include "Conversation/reply.html.twig" %}

{% endblock %}

{% block jquery %}

{% include "element/msgautocomplete.js.twig" %}

function search_insert(insert) {
	var caretPos = document.getElementById("new_conversation_content").selectionStart;
	var textAreaTxt = $("#new_conversation_content").val();
	$("#new_conversation_content").val(textAreaTxt.substring(0, caretPos) + insert + textAreaTxt.substring(caretPos) );

}

{% endblock %}
