{% extends "Conversation/layout.html.twig" %}

{% block content %}
<h2>
	{{ 'conversation.new.title3'|trans({}, "conversations")|title }}</h2>
{# TODO: translate #}
<div id="insertbox">
	<input id="realmsearch" placeholder="insert realm" />
	<input id="settlementsearch" placeholder="insert settlement" />
	<input id="charactersearch" placeholder="insert character" />
</div>
{{ form(form) }}

{% endblock %}

{% block jquery %}

{% include "element/msgautocomplete.js.twig" %}

function search_insert(insert) {
	var caretPos = document.getElementById("new_local_message_content").selectionStart;
	var textAreaTxt = $("#new_local_message_content").val();
	$("#new_local_message_content").val(textAreaTxt.substring(0, caretPos) + insert + textAreaTxt.substring(caretPos) );

}

{% endblock %}
