<div id="insertbox">
	<input id="realmsearch" placeholder="insert realm" />
	<input id="guildsearch" placeholder="insert association" />
	<input id="housesearch" placeholder="insert house" />
	<input id="placesearch" placeholder="insert place" />
	<input id="settlementsearch" placeholder="insert settlement" />
	<input id="charactersearch" placeholder="insert character" />
</div>
{{ form(form) }}
