<div id="insertbox">
	<input id="realmsearch" placeholder="Insert Realm" />
	<input id="guildsearch" placeholder="Insert Association" />
	<input id="housesearch" placeholder="Insert House" />
	<input id="placesearch" placeholder="Insert Place" />
	<input id="settlementsearch" placeholder="Insert Settlement" />
	<input id="charactersearch" placeholder="Insert Character" />
</div>
{{ form(form) }}
