{# TODO: translate #}
<div id="insertbox">
	<input id="realmsearch" placeholder="insert realm" />
	<input id="settlementsearch" placeholder="insert settlement" />
	<input id="charactersearch" placeholder="insert character" />
</div>
{{ form(form) }}
