<button id="syntaxhelp" class="cmsg_button">Syntax Help</button>
<div id="help" style="display:none">
        You can use <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a>:
        <ul class="simple">
                <li>Press enter twice to create a paragraph break.</li>
                <li>End a line with two spaces to create a line break.</li>
                <li># Huge Header</li>
                <li>## Large Header</li>
                <li>### Header</li>
                <li><em>*Emphasis*</em></li>
                <li><strong>**Strong emphasis**</strong></li>
                <li><strong><em>***Extra strong emphasis***</em></strong></li>
                <li>Make unordered lists by beginning each line with a single *<li>
                <li>Second-level sub unordered lists can be done with a space and then a * at the beginning of the line.</li>
                <li>...or numbered lists by using 1. 2. 3.<li>
                <li>...but maybe you don't want a list, so add a \ after the number and before the period like this: 2015\.</li>
                <li>You can also blockquote a paragraph like this by leading with a ></li>
                <li>...or even double or triple indent by adding more > symbols.</li>
                <li>...or even add numbered or unordered lists in that block quote!</li>
        </ul>
</div>
