{% set biglogo = true %}
{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'contact.title'|trans|title }}</h2>

<p>{{ 'contact.forum'|trans|raw }}</p>

<p>{{ 'contact.tom'|trans|raw }}</p>

{% endblock %}
