{% set biglogo = true %}
{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'terms.title'|trans|title }}</h2>

{% include "Default/terms."~locale~".html.twig" ignore missing %}

{% endblock %}
