{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ "support.name"|trans({},"actions")|title }}</h2>
<p>
{% if result.success %}
	{{ ("support.success."~action.type)|trans({'%character%':link(action.character), '%target%':link(result.target)}, "actions")|raw }}
{% else %}
	{{ result.message|trans({},"actions") }}
{% endif %}
</p>

{% endblock %}
