parameters:
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     maf
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       ~
    mailer_port:       25
    mailer_authmode:   login
    mailer_encryption: null
    mailer_user:       ~
    mailer_password:   ~
    mailer_disable:    false

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    recaptcha_site_key: ~
    recaptcha_secret_key: ~

    stripe-secret: ~
    stripe-prices:
     2: ~
     5: ~
     10: ~
     20: ~
     50: ~
     100: ~

    ruleset: maf

    mail_from:         ~
    mail_from_name:    "Might & Fealty"
    mail_reply_to:     ~
    mail_opt_out_url: "https://mightandfealty.com/account/endemails"

    discord_webhook_general: null
    discord_webhook_olympus: null
    discord_webhook_payments: null
    discord_webhook_errors: null
