security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_TESTER:      ROLE USER
        ROLE_ADMIN:       [ROLE_USER, ROLE_TESTER]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_TESTER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        static:
            pattern:  ^/(_(profiler|wdt)|css|images|js|bundles)/
            security: false

        account:
            pattern:    ^/
            anonymous:  true
            switch_user: { role: ROLE_ADMIN }
            form_login:
                provider:               fos_userbundle
                login_path:             fos_user_security_detect
                check_path:             fos_user_security_check
                csrf_token_generator:   security.csrf.token_manager
                remember_me:            true
                default_target_path:    bm2_account
            remember_me:
                secret:            "%secret%"
                lifetime:       7776000 # 90 days in seconds
                path:           /
                domain:         ~ # Defaults to the current domain from $_SERVER
            logout:
                path:           fos_user_security_logout
                target:         bm2_homepage

    access_control:
        - { path: ^/(../)?admin, roles: ROLE_ADMIN }
        - { path: ^/(../)?gamerequest, roles: ROLE_USER } # Without this, users will be locked out of the gamerequest path by the line below. --Andrew
        - { path: ^/(../)?game, roles: ROLE_ADMIN }
        - { path: ^/(../)?account, roles: ROLE_USER }
        - { path: ^/(../)?heraldry, roles: ROLE_USER }
        - { path: ^/(../)?payment/google$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(../)?payment/paypal_success$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(../)?payment/paypal_cancel$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(../)?payment, roles: ROLE_USER }
        - { path: ^/(../)?character, roles: ROLE_USER }
        - { path: ^/(../)?actions, roles: ROLE_USER }
        - { path: ^/(../)?artifacts, roles: ROLE_USER }
        - { path: ^/(../)?messages, roles: ROLE_USER }
        - { path: ^/(../)?settlement, roles: ROLE_USER }
        - { path: ^/(../)?conv, roles: ROLE_USER }
        - { path: ^/(../)?translator, roles: ROLE_USER }
        - { path: ^/(../)?unit, roles: ROLE_USER }
        - { path: ^/(../)?login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(../)?register$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(../)?resetting$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
