{% if plain is defined %}
	{{ plain }}
{% elseif message is defined %}
	{% include "MsgBundle:Read:one_message.html.twig" with {"meta":message.findmeta(user), "last":null, "message":message} only %}
{% else %}
	{# TODO: translate #}
	<div id="insertbox">
		<input id="realmsearch" placeholder="insert realm" />
		<input id="settlementsearch" placeholder="insert settlement" />
		<input id="charactersearch" placeholder="insert character" />
	</div>
	{{ form(form) }}
{% endif %}
