{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ "account.familytree"|trans }}</h2>
<p><button id="zoom">{{ "zoom"|trans }}</button></p>

{{ svg|raw }}

{% endblock %}

{% block jquery %}
var zoomed=false;
var default_width = $("svg").attr('width');
$("#zoom").click(function(){
	if (zoomed) {
		$("svg").attr('width', default_width);
		$("#zoom").html("Zoom to fit");
	} else {
		$("svg").removeAttr('height');
		$("svg").removeAttr('width');
		$("#zoom").html("Zoom off");
	}
	zoomed = !zoomed;
});
{% endblock %}
