{% extends "layout.html.twig" %}

{% block content %}
	<h2>New Update Note</h2>
	<p>Version should not include the leading 'v.' text accepts markdown and wikilinks [e:#] stuff. Will append after announcements file.</p>
	{{ form(form) }}
{% endblock %}
