{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'assoc.route.place.evict.name'|trans({'%name%':assoc.name},"orgs")|title }}</h2>
	<p>{{ 'assoc.route.place.evict.intro'|trans({'%place%':place.name, '%assoc%':assoc.formalName},"orgs")|raw }}</p>
	{{ form(form) }}
{% endblock %}
