{% set biglogo = true %}
{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'menu.credits'|trans|title }}</h2>

<p>Messages and other player-contributed content is &copy; by their respective authors.</p>
<p>External libraries, plug-ins, etc. are &copy; by their authors, as detailed in their respective headers.</p>
<p>The equipment images were made by <a href="http://www.christophclasen.de/">Christoph Clasen</a>.</p>
<p>Some of the map and other icons were made by <a href="http://nicubunu.ro/">Nicu Buculei</a> and released to the public domain.</p>
<p>Everything else is &copy;2013-2015 by Tom Vogt</p>



<hr style="margin-bottom: 5em"/>
<p style="margin-bottom: 2em">Legalese below is for Germany (where we reside), which is why it is not translated into english:</p>

<p>Angaben gemäß § 5 TMG:<br/><br/></p>

<p>Tom Vogt<br />
Hein-Hoyer-Str. 9<br />
20359 Hamburg<br />
</p>
<h2>Kontakt:</h2>
<table><tr>
<tr><td>E-Mail:</td>
<td>tom@mightandfealty.com</td>
</tr></table>
<p> </p>
<p>Quelle: <i>Erstellt mit dem <a href="http://www.e-recht24.de/impressum-generator.html">Impressum-Generator Privatperson</a> von eRecht24.</i></p>

{#
<h2>Anbieter:</h2>
<p>Calitarus GmbH<br />
Hein-Hoyer-Str. 9<br />
20359 Hamburg<br />
</p>

<h2>Vertreten durch:</h2>
<p>Herr Tom Vogt</p>

<h2>Kontakt:</h2>
<table><tr>
<td>Telefon:</td>
<td>+49 (0)40 41921945</td></tr>
<tr><td>E-Mail:</td>
<td>vogt@calitarus.de</td>
</tr></table>

<h2>Registereintrag:</h2>
<p>Eintragung im Handelsregister. <br />
	Registergericht:Amtsgericht Hamburg<br />
	Registernummer: HRB 120171</p>
<h2>Umsatzsteuer-ID:</h2>
<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
DE 279345927</p>

<p>Quelle: <i>Erstellt mit dem Impressum-Generator von <a href="http://www.e-recht24.de">http://www.e-recht24.de</a>.</i></p>
#}

<br />
<h2>Haftungsausschluss:</h2>
<p><strong>Haftung für Inhalte</strong></p> <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p> <p><strong>Haftung für Links</strong></p> <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p> <p><strong>Urheberrecht</strong></p> <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p> <p><strong>Datenschutz</strong></p> <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. </p> <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. </p> <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p><p> </p>
<p><i>Quellen: <a href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">Disclaimer eRecht24</a></i></p>

{% endblock %}

