<p>
	By registering at this site, you agree to the terms of service outlined below.
</p>
<p>
	The column on the right provides a short explanation of the terms of use and is not legally binding.
</p>

<div class="terms">
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		By registering and using this site, you agree to all the terms below.
	</div>
	<div class="terms_full">
		By using mightandfealty.com and associated pages ("Site"), you signify that you have read, understand and agree to be bound by these Terms and conditions.<br />
		The Site is owned and operated by <a href="http://calitarus.de">Calitarus GmbH</a>, a German corporation ("Calitarus").<br />
		Calitarus reserves the right, at its sole discretion, to modify or replace any of these Terms of Service, or change, suspend, or discontinue the Site (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the Site or by sending you notice through the Site or via email. Calitarus may also impose limits on certain features and services or restrict your access to parts or all of the Site without notice or liability. It is your responsibility to check these Terms of Service periodically for changes. Your continued use of the Site following the posting of any changes to these Terms of Service constitutes acceptance of those changes. 		
	</div>
</div>

<div class="terms">
	<h3>Registration and Eligibility</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		To fully use the Site, you need to register an account.<br />
		You must be old enough and have <a href="http://en.wikipedia.org/wiki/Capacity_%28law%29">capacity</a>.<br />
		Do not violate other users' rights.
	</div>
	<div class="terms_full">
		You may browse the Site and view content without registering, but as a condition to using certain aspects of the Site, you are required to register on the Site and represent, warrant and covenant that you provide Calitarus with accurate, truthful, and complete registration information (including, but not limited to your name ("user name"), e-mail address and a password you will use to access the Site) and to keep your registration information accurate and up-to-date. Failure to do so shall constitute a breach of these Terms of Service, which may result in immediate termination of your account. You shall not:
		<ul>
			<li>
				use more than one free/trial account - if we find you do, we will delete or lock all of them, without warning;
			</li>
			<li>
				provide any false personal information (including a false user name) or create any account for anyone other than yourself without such person's permission;
			</li>
			<li>
				use a user name that is the name of another person with the intent to impersonate that person;
			</li>
			<li>
				use a user name or account that is subject to any rights of a person other than you without appropriate authorization; or
			</li>
			<li>
				use a user name that is a name that is otherwise offensive, vulgar or obscene or otherwise unlawful.
			</li>
		</ul>
		You are solely responsible and liable for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password. You shall never use another user's account without such other user's prior express permission. You will immediately notify Calitarus in writing of any unauthorized use of your account, or other account related security breach of which you are aware. You represent and warrant that if you are an individual, you are of legal age to form a binding contract, or that if you are registering on behalf of an entity, that you are authorized to enter into, and bind the entity to, these Terms of Service and register for the Site.<br />
		Calitarus is concerned about the safety and privacy of all its users, especially children. Therefore, children under the age of 14 are not permitted to use mightandfealty.com without the express permission of their parents.<br />
		Calitarus may, in its sole discretion, refuse to offer service to any person or entity and change its eligibility criteria at any time. You are solely responsible for ensuring that these Terms of Service are in compliance with all laws, rules and regulations applicable to you and the right to access the Site is revoked where these Terms of Use or use of the Service is prohibited and, in such circumstances, you agree not to use or access the Site in any way. 
	</div>
</div>

<div class="terms">
	<h3>Content and Conduct</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		You own what you create in-game. This license is you authorizing us to make use of your content as required for the game to work.<br />
		<br />
		You will be civil and legal in your conduct. If you aren't, we can remove what you posted.
	</div>
	<div class="terms_full">
		Our Site allows you and other users to post, link and otherwise make available content. You are responsible for the content that you make available to the Site, including its legality, reliability, and appropriateness. Calitarus reserves the right to remove any content for any reason whatsoever. When you post, link or otherwise make available content to the Site, you grant us the right and royalty-free license to use, reproduce, modify, publicly perform, publicly display and distribute your content on or through the Site (including via applications). We may format your content for display throughout the Site, but we will not edit or revise the substance of your content itself. You agree to not use the Site to upload, post, email, transmit or otherwise make available:
		<ul>
			<li>
				Content that is libelous, defamatory, bigoted, fraudulent or deceptive;
			</li>
			<li>
				Content that is illegal or unlawful, that would otherwise create liability;
			</li>
			<li>
				Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party;
			</li>
			<li>
				Mass or repeated promotions, political campaigning or commercial messages (SPAM);
			</li>
			<li>
				Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers); and
			</li>
			<li>
				Viruses, corrupted data or other harmful, disruptive or destructive files or code.
			</li>
		</ul>

		You also agree that you will not do any of the following in connection with the Site or other users:
		<ul>
			<li>
				Use the Site in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Site or that could damage, disable, overburden or impair the functioning of the Site;
			</li>
			<li>
				Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity;
			</li>
			<li>
				Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Site; and
			</li>
			<li>
				Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Site, users of the Site, or third parties.
			</li>
		</ul>
	</div>
</div>

<div class="terms">
	<h3>Release and Indemnity</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		We are not liable for anything you or other users do.<br />
		We are not liable if something goes really wrong.
	</div>
	<div class="terms_full">
		Calitarus cannot be held liable for any damages. All data, information, messages, text or other materials generated, provided, or otherwise made accessible by Calitarus on or through the Site, are the sole responsibility of the person from whom such content originated. Calitarus does not control the content posted by users and does not guarantee the accuracy or integrity of such content. Calitarus shall not be liable for any statements or conduct of any third party using the Site. By using the Site you may be exposed to content that is indecent, objectionable or offensive. Calitarus will not be liable in any way for any content, including, but not limited to, any errors or omissions in any content. Calitarus will not be liable for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted or otherwise made available on the Site. Calitarus assumes no responsibility for the timeliness, deletion, miss-delivery or failure to store any user content, communication or personal settings. You agree to indemnify and hold Calitarus, its officers, employees, affiliates, contractors, and suppliers, exempt from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of content you submit, transmit, post or otherwise make available through the Site.
	</div>
</div>

<div class="terms">
	<h3>Trademarks</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		 Please respect our Trademarks and Brands
	</div>
	<div class="terms_full">
		Calitarus has put a lot of effort into creating the Site including, the logo and all designs, text, graphics, pictures, information and other content (excluding your content). This property is owned by Calitarus or our licensors and it is protected by German and international copyright laws. Calitarus grants you the right to use it. However, unless we expressly state otherwise or as allowed by our Developer Terms of Service, your rights do not include: (i) publicly performing or publicly displaying the Site, (ii) modifying or otherwise making any derivative uses of the Site or any portion thereof; (iii) using any data mining,"scraping"and/or unauthorized crawling of the Site by any means; (iv) downloading (other than page caching) of any portion of the Site (including images, data from images and/or users) or any information contained therein; (v) reverse engineering or accessing the Site in order to build a competitive product or service; or (vi) using the Site other than for its intended purposes. (vii) Storing, saving and/or retaining images of any size is also prohibited. If you do any of this stuff, we may terminate your use of the Site. 
	</div>
</div>

<div class="terms">
	<h3>Third Party Sites and Services</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		Some people may post links, we are not responsible for these links.
	</div>
	<div class="terms_full">
		The Site may permit you to link to other websites, services or resources on the Internet, and other websites, services or resources may contain links to the Site. When you access third party websites, you do so at your own risk. These other websites are not under Calitarus' control, and you acknowledge that Calitarus is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources. The inclusion of any such link does not imply endorsement by Calitarus or any association with its operators. You further acknowledge and agree that Calitarus shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such website or resource.
	</div>
</div>

<div class="terms">
	<h3>Choice of Law and Forum</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		Any disputes on this agreement will be governed by German law and Hamburg, Germany courts.
	</div>
	<div class="terms_full">
		The Terms of Service and the relationship between you and Calitarus shall be governed by the laws of Germany without regard to its conflict of law provisions. Except to the extent otherwise determined by Calitarus, any action or proceeding arising from or relating to this Agreement must be brought in state court in Hamburg, Germany, and each party irrevocably submits to the jurisdiction and venue of any such courts and waive any objection as to inconvenient forum in any such action or proceeding. You further agree that you and Calitarus will not commence against the other a class action, class arbitration or other representative action or proceeding. 
	</div>
</div>

<div class="terms">
	<h3>Limitation Of Liability</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		Again, we are not liable. But we may pay you up to €100 in exceptional cases
	</div>
	<div class="terms_full">
		In no event shall Calitarus be liable under contract, tort, strict liability, negligence or other Legal theory with respect to the site, the service or any content (i) for any lost profits or Special, indirect, incidental, punitive, or consequential damages of any kind whatsoever, (ii) to provide substitute goods or services (however arising), or (iii) for any direct damages in Excess of (in the aggregate) EUR 100.
	</div>
</div>

<div class="terms">
	<h3>Copyright</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		We respect copyright. If anything is wrong, please send an email with details to copyright@mightandfealty.com
	</div>
	<div class="terms_full">
		Calitarus respects the intellectual property rights of others. It is our policy to respond promptly any claim that content posted on the Site infringes the copyright or other intellectual property infringement (“Infringement”) of any person. Calitarus will use reasonable efforts to investigate notices of alleged Infringement and will take appropriate action under applicable intellectual property law and these Terms where it believes an Infringement has taken place, including removing or disabling access to the Content claimed to be infringing and/or terminating accounts and access to the Site.<br />
		To notify Calitarus of a possible Infringement you must submit your notice in writing to the attention of “Copyright Infringement” care of copyright@mightandfealty.com and include in your notice a detailed description of the alleged Infringement sufficient to enable Calitarus to make a reasonable determination. Please note that you may be held accountable for damages (including costs and attorneys’ fees) for misrepresenting that any content is infringing your copyright.<br />
		If we remove or disable access to content in response to a notice of Infringement, we will make reasonable attempts to contact the user who posted the affected content. If you feel that your content is not infringing, you may provide Calitarus with a counter notice in writing to the attention of “Copyright Infringement Counter Notification” at copyright@mightandfealty.com. You must include in your counter notice sufficient information to enable Calitarus to make a reasonable determination. Please note that you may be held accountable for damages (including costs and attorneys' fees) if you materially misrepresent that your content is not infringing the copyrights of others.<br />
		If you are uncertain whether an activity constitutes Infringement, we recommended seeking advice of an attorney.
	</div>
</div>

<div class="terms">
	<h3>Miscellaneous</h3>
	<div class="terms_short">
		<p class="terms_basic">basically:</p>
		Things can happen — we are not responsible.
	</div>
	<div class="terms_full">
		No agency, partnership, joint venture, or employment is created as a result of the Terms and you do not have any authority of any kind to bind Calitarus in any respect whatsoever. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. Calitarus shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Calitarus’s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation (including "line-noise" interference). If any provision of the Terms is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable. Calitarus may transfer, assign or delegate the Terms and its rights and obligations without consent. The Terms shall be governed by and construed in accordance with the laws of Ontario, as if made within Ontario between two residents thereof, and the parties submit to the exclusive jurisdiction of Ontario courts. Both parties agree that the Terms is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of the Terms, and that all modifications must be in a writing signed by both parties, except as otherwise provided herein.
	</div>
</div>