@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-qokmgw');
	src:url('fonts/icomoon.eot?#iefix-qokmgw') format('embedded-opentype'),
		url('fonts/icomoon.woff?-qokmgw') format('woff'),
		url('fonts/icomoon.ttf?-qokmgw') format('truetype'),
		url('fonts/icomoon.svg?-qokmgw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e605";
}
.icon-pencil2:before {
	content: "\e606";
}
.icon-quill:before {
	content: "\e607";
}
.icon-pen:before {
	content: "\e608";
}
.icon-blog:before {
	content: "\e609";
}
.icon-droplet:before {
	content: "\e60a";
}
.icon-image:before {
	content: "\e60c";
}
.icon-image2:before {
	content: "\e60d";
}
.icon-images:before {
	content: "\e60e";
}
.icon-feed:before {
	content: "\e61e";
}
.icon-book:before {
	content: "\e61f";
}
.icon-books:before {
	content: "\e620";
}
.icon-library:before {
	content: "\e621";
}
.icon-file:before {
	content: "\e622";
}
.icon-profile:before {
	content: "\e623";
}
.icon-file2:before {
	content: "\e624";
}
.icon-file3:before {
	content: "\e625";
}
.icon-tag:before {
	content: "\e630";
}
.icon-tags:before {
	content: "\e631";
}
.icon-envelope:before {
	content: "\e640";
}
.icon-pushpin:before {
	content: "\e641";
}
.icon-location:before {
	content: "\e642";
}
.icon-location2:before {
	content: "\e643";
}
.icon-compass:before {
	content: "\e644";
}
.icon-map:before {
	content: "\e645";
}
.icon-map2:before {
	content: "\e646";
}
.icon-history:before {
	content: "\e647";
}
.icon-clock:before {
	content: "\e648";
}
.icon-clock2:before {
	content: "\e649";
}
.icon-bell:before {
	content: "\e64c";
}
.icon-calendar:before {
	content: "\e64e";
}
.icon-calendar2:before {
	content: "\e64f";
}
.icon-cabinet:before {
	content: "\e658";
}
.icon-drawer:before {
	content: "\e659";
}
.icon-drawer2:before {
	content: "\e65a";
}
.icon-drawer3:before {
	content: "\e65b";
}
.icon-undo:before {
	content: "\e662";
}
.icon-redo:before {
	content: "\e663";
}
.icon-flip:before {
	content: "\e664";
}
.icon-flip2:before {
	content: "\e665";
}
.icon-undo2:before {
	content: "\e666";
}
.icon-redo2:before {
	content: "\e667";
}
.icon-forward:before {
	content: "\e668";
}
.icon-reply:before {
	content: "\e669";
}
.icon-bubble:before {
	content: "\e66a";
}
.icon-bubbles:before {
	content: "\e66b";
}
.icon-bubbles2:before {
	content: "\e66c";
}
.icon-bubble2:before {
	content: "\e66d";
}
.icon-bubbles3:before {
	content: "\e66e";
}
.icon-bubbles4:before {
	content: "\e66f";
}
.icon-user:before {
	content: "\e670";
}
.icon-users:before {
	content: "\e671";
}
.icon-user2:before {
	content: "\e672";
}
.icon-users2:before {
	content: "\e673";
}
.icon-quotes-left:before {
	content: "\e676";
}
.icon-busy:before {
	content: "\e677";
}
.icon-spinner:before {
	content: "\e678";
}
.icon-spinner2:before {
	content: "\e679";
}
.icon-spinner3:before {
	content: "\e67a";
}
.icon-spinner4:before {
	content: "\e67b";
}
.icon-spinner5:before {
	content: "\e67c";
}
.icon-spinner6:before {
	content: "\e67d";
}
.icon-zoom-in:before {
	content: "\e680";
}
.icon-search:before {
	content: "\e67f";
}
.icon-zoom-out:before {
	content: "\e681";
}
.icon-expand:before {
	content: "\e682";
}
.icon-contract:before {
	content: "\e683";
}
.icon-expand2:before {
	content: "\e684";
}
.icon-contract2:before {
	content: "\e685";
}
.icon-key:before {
	content: "\e686";
}
.icon-key2:before {
	content: "\e687";
}
.icon-lock:before {
	content: "\e688";
}
.icon-lock2:before {
	content: "\e689";
}
.icon-unlocked:before {
	content: "\e68a";
}
.icon-trophy:before {
	content: "\e69a";
}
.icon-fire:before {
	content: "\e6a4";
}
.icon-target:before {
	content: "\e6ae";
}
.icon-shield:before {
	content: "\e6af";
}
.icon-lightning:before {
	content: "\e6b0";
}
.icon-tree:before {
	content: "\e6b9";
}
.icon-link:before {
	content: "\e6c3";
}
.icon-flag:before {
	content: "\e6c4";
}
.icon-eye:before {
	content: "\e6c6";
}
.icon-eye-blocked:before {
	content: "\e6c7";
}
.icon-eye2:before {
	content: "\e6c8";
}
.icon-bookmark:before {
	content: "\e6c9";
}
.icon-bookmarks:before {
	content: "\e6ca";
}
.icon-star:before {
	content: "\e6ce";
}
.icon-star3:before {
	content: "\e6d0";
}
.icon-thumbs-up:before {
	content: "\e6d4";
}
.icon-thumbs-up2:before {
	content: "\e6d5";
}
.icon-notification:before {
	content: "\e6f5";
}
.icon-question:before {
	content: "\e6f6";
}
.icon-info:before {
	content: "\e6f7";
}
.icon-info2:before {
	content: "\e6f8";
}
.icon-blocked:before {
	content: "\e6f9";
}
.icon-cancel-circle:before {
	content: "\e6fa";
}
.icon-checkmark-circle:before {
	content: "\e6fb";
}
.icon-spam:before {
	content: "\e6fc";
}
.icon-close:before {
	content: "\e6fd";
}
.icon-checkmark:before {
	content: "\e6fe";
}
.icon-checkmark2:before {
	content: "\e6ff";
}
.icon-minus:before {
	content: "\e701";
}
.icon-plus:before {
	content: "\e702";
}
.icon-loop2:before {
	content: "\e71c";
}
.icon-shuffle:before {
	content: "\e71e";
}
.icon-checkbox-unchecked:before {
	content: "\e739";
}
.icon-checkbox-partial:before {
	content: "\e73a";
}
.icon-checkbox-checked:before {
	content: "\e738";
}
.icon-radio-checked:before {
	content: "\e73b";
}
.icon-radio-unchecked:before {
	content: "\e73c";
}
.icon-share:before {
	content: "\e75e";
}
