{% extends "layout.html.twig" %}

{% block content %}
<div class="exception">
	<h2>{{ 'error.title'|trans|title }}</h2>
	{{ status_text|trans({},domain)|raw }}
	{% for msg in status_data %}
		<p>{{ msg|trans({},domain)|raw }}</p>
	{% endfor %}
</div>
{% endblock %}

