{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>soldier log of {{ soldier.name }}</h2>

<dl class="eventlog">
{% for event in soldier.events %}
	<dt>{{ event.cycle|gametime('short') }}</dt>
	<dd>{{ event|logtranslate }}</dd>
{% endfor %}
</dl>

{% endblock %}
