{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'unit.disband.name'|trans({"%name%":unit.settings.name},"military")|title }}</h2>
<p>{{ 'unit.disband.intro'|trans({"%name%":unit.settings.name},"military")|raw }}</p>
	{{ form(form) }}

{% endblock %}
