{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'unit.info.name'|trans({"%name%":unit.settings.name},"military")|title }}</h2>
<p>This page to be expanded at a later date! :)</p>
{% endblock %}
