{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
	<h2>Transfer Character to BattleMaster</h2>
	{% if success %}
		<p>
			transfer.details ((FIXME: translation text))
		</p>
		<div class="warning">
			Your character has been put into transfer queue.<br />
			<br />
			Due to large number of requests, we transfer characters in batches. You will be notified when your character
			is in transfer, which can take up to one day.
		</div>
	{% else %}
		(TODO: coordinate with Tim on exact launch time)
		<p>
			Many of the players of Might &amp; Fealty also play <a href="http://battlemaster.org">BattleMaster</a>,
			my other medieval realm-building game.<br />
			We have been working behind-the-scenes for a while to bring these games closer, and as a first step
			you can transfer characters between the two game worlds now!
		</p>
		<p>
			In the game, your character will enter a magical portal and is transported to another world. He will
			disappear from the map and is put into storage. He will keep all estates, positions, etc. but while
			he is active on BattleMaster, he cannot do anything here.
		</p>
		<p>
			In order to not disrupt the game-balance of the two games, characters transferred from one game to the other
			will spawn as bandits, unable to take control of land. You can raid BattleMaster, but you cannot make
			a permanent home there, at least at this time. However, as you have already guessed, you will take your
			entire army with you, they will be converted to the appropriate BattleMaster unit types.
		</p>
		<p>
			To begin the character transfer, fill out this form:
		</p>
		{{ form(form) }}
	{% endif %}
{% endblock %}
