{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'account.invite.title'|trans|title }}</h2>
{% if success is defined %}
	<p>{{ 'account.invite.success'|trans({"%credits%":credits})|raw }}</p>
{% else %}
	<p>{{ 'account.invite.intro'|trans|raw }}</p>

	{{ form(form) }}
{% endif %}

{% endblock %}
