
.cmsg_conversation {
	background-color: rgba(255,255,255,0.25);
	padding: 0.1em 2em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

.cmsg_general {
	float: right;
	margin-top: -3em;
	background: rgba(0,0,0,0.25);
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
}

.cmsg_general form {
	display: inline-block;
}


.cmsg_message {
	margin-bottom: 2em;
	margin-left: 2em;
}

.cmsg_old {
	opacity: 0.5;
	transition: opacity 0.35s linear;
}

.cmsg_old:hover {
	opacity: 1.0;
}

.cmsg_message_header {
	background-color: rgba(0,0,127,0.25);
	padding: 0.25em;
}

.cmsg_message_meta {
	background-color: rgba(0,0,127,0.2);
	padding: 0.25em;
	min-height: 1.8em;
}

.cmsg_message_meta ul {
	margin: 0.1em;
	padding: 0.1em;
}

.cmsg_message_meta li {
	list-style: none;
	display: inline;
}

ul.cmsg_flags {
	float: left;
	margin-right: 2em;
}

ul.cmsg_flags li .cmsg_icon {
	color: #888;
	background-color: #eee;
}
ul.cmsg_flags li .cmsg_icon.active {
	color: #000;
	background-color: #ffc;
}
ul.cmsg_flags li .cmsg_icon.working {
	color: #640;
	background-color: #eed;
}

ul.cmsg_tags li:before {
    content: " - ";
}
ul.cmsg_tags li:first-child:before {
    content: "";
}

td.cmsg_header {
	background-color: rgba(0,0,0,0.25);
	border-radius: 0.5em;
	padding: 0.2em 1em;
}

ul.cmsg_actions {
	float: left;
	margin-right: 2em;
}

.cmsg_actions li {
	display: inline;
}

.cmsg_related {
	background-color: rgba(127,127,0,0.2);
	padding: 0.25em 0 0.25em 0.25em;
	margin: 0;
}

ul.cmsg_related_list {
	margin: 0;
}

ul.cmsg_related_list li {
	list-style: none;
}


.cmsg_content {
	background-color: rgba(0,0,0,0.1);
	padding: 0.25em;
}

.cmsg_button {
    display: inline-block;
    background: #ffc835;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 0px 1px 0px #ffe6a5;
    padding: 0.1em 1em
    border-color: #ebae3e;
    border-width: 1px;
    border-style: solid;
    color: #4f2f2f;
    font-size: 14px;
}
.cmsg_button:hover {
    background: #ffd200;
    -webkit-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 2px #ffed99;
    -moz-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 2px #ffed99;
    box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 2px #ffed99;
    border-color: #ffc835;
}



button.cmsg_icon {
	background: rgba(255,255,255,0.5);
	border: none;
	border-radius: 0.25em;
	font-size: 125%;
	padding: 0.05em 0.4em;
}
button.cmsg_icon:hover {
	background: rgba(255,255,255,0.75);
}

.cmsg_on {
	background: rgba(0,240,0,0.5);
	padding: 0.1em 0.1em 0.3em 0.5em;
	border-radius: 0.5em;
}
.cmsg_off {
	background: rgba(200,200,200,0.5);
	padding: 0.1em 0.1em 0.3em 0.5em;
	border-radius: 0.5em;
}

#message_reply label {
	display: block;
}

#message_reply textarea {
	width: 100%;
}

#syntaxhelp {
	float: right;
}

#new_conversation label {
	display: block;
	margin-top: 2em;
}

#new_conversation_nearby label, #new_conversation_contacts label {
	display: inline-block;
	margin-top: 0;
}

#new_conversation_contacts {
	column-width: 20em;
	column-gap: 2em;
	column-rule: 1px solid rgba(0,0,0,0.25);
	-moz-column-width: 20em;
	-moz-column-gap: 2em;
	-moz-column-rule: 1px solid rgba(0,0,0,0.25);
	-webkit-column-width: 20em;
	-webkit-column-gap: 2em;
	-webkit-column-rule: 1px solid rgba(0,0,0,0.25);
}

button#hidetoggle {
	margin: 0.5em 2em;
}

.topmargin {
	margin-top: 2em;
}
