{% extends "layout.html.twig" %}

{% block content %}
    <h1>GeoData edit</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('maf_regions') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
